Repository nguyentanmanh/driver-recommendation-service: changes, and which Jenkins stages are due for each by the changed paths.
All: build data pipeline, test data pipeline, build model serving, test model serving, batch serving pipeline, online serving API

build data pipeline:
              steps {
                  echo 'Building data pipeline..'
                  sh 'cd data_pipeline && make build_image'
              }
          

test data pipeline:
              steps {
                  echo 'Testing data pipeline..'
              }
          

build model serving:
              steps {
                  echo 'Building model serving..'
                  sh 'cd model_serving && make build_image'
              }
          

test model serving:
              steps {
                  echo 'Testing model serving..'
              }
          

batch serving pipeline:
                      steps {
                          echo 'Batch serving..'
                      }
                  

online serving API:
                      steps {
                          echo 'Deploy online service'
                      }
                  

add script run infra
  infra/run.sh
Due: none

update README.md
  README.md
Due: none

add name for owner
  README.md
  data_pipeline/Makefile
  data_pipeline/dags/utils.py
  data_pipeline/tops_mongoose/README.md
  data_pipeline/tops_mongoose/__init__.py
  data_pipeline/tops_mongoose/feature_repo/__init__.py
  data_pipeline/tops_mongoose/feature_repo/data/driver_stats.parquet
  data_pipeline/tops_mongoose/feature_repo/example_repo.py
  data_pipeline/tops_mongoose/feature_repo/feature_store.yaml
  data_pipeline/tops_mongoose/feature_repo/test_workflow.py
  training_pipeline/dags/training_dag.py
  training_pipeline/dags/utils.py
Due: build data pipeline, test data pipeline

update DAGs
  README.md
  data_pipeline/Makefile
  training_pipeline/setup_env.sh
Due: build data pipeline, test data pipeline

fix training pipeline error
  data_pipeline/Makefile
  data_pipeline/app/main.py
  data_pipeline/feature_repo/entities.py
  data_pipeline/feature_repo/features.py
  data_pipeline/tops_mongoose/README.md
  data_pipeline/tops_mongoose/__init__.py
  data_pipeline/tops_mongoose/feature_repo/__init__.py
  data_pipeline/tops_mongoose/feature_repo/data/driver_stats.parquet
  data_pipeline/tops_mongoose/feature_repo/example_repo.py
  data_pipeline/tops_mongoose/feature_repo/feature_store.yaml
  data_pipeline/tops_mongoose/feature_repo/test_workflow.py
  training_pipeline/call_feast_serving_example.py
  training_pipeline/src/data_extraction.py
Due: build data pipeline, test data pipeline

fix batch serving
  model_serving/dags/batch_serving_dag.py
  model_serving/src/data_extraction.py
Due: build model serving, test model serving, batch serving pipeline, online serving API

fix host for model serving
  model_serving/deployment/Dockerfile
Due: build model serving, test model serving, batch serving pipeline, online serving API

update readme
  README.md
Due: none

Path conditions:
  build data pipeline: any of: data_pipeline/**
  test data pipeline: any of: data_pipeline/**
  build model serving: any of: model_serving/**
  test model serving: any of: model_serving/**
  batch serving pipeline: any of: model_serving/**
  online serving API: any of: model_serving/**
